<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nitrr.ecell.esummit.ecellapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_ecell_icon_round_new"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.FullScreen">
        <receiver
            android:name=".misc.NetworkChangeReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".misc.SMSReceiver"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>

        <activity android:name=".activities.BQuizActivity"
            android:screenOrientation="nosensor">
        </activity>

        <activity android:name=".activities.SplashScreenActivity"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.LoginActivity"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.FullScreen"
            android:windowSoftInputMode="adjustResize|stateHidden"/>

        <activity
            android:name=".activities.HomeActivity"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.FullScreen"/>


        <activity
            android:name=".activities.AboutUsActivity"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.FullScreen"/>

        <activity
            android:name=".activities.SponsorsActivity"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.FullScreen"/>

        <activity
            android:name=".activities.EventActivity"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.FullScreen"/>

        <activity
            android:name=".activities.ESummitActivity"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.FullScreen"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>
</manifest>